//body{background-image:url("images/bg.jpg");
//     background-attachment: fixed;
//     background-position: 100% 100%;
//     background-repeat: no-repeat;
//     background-width: 100%;}
a:hover{color:#ffffff;
        background-color: #0000ee;
//        text-decoration: overline underline;
}
img:hover{color: #0000ee;}
a{text-decoration: none}
